.heading {
    .row {
      text-align: center;
      background-color: $bg_medium_blue;
      section {
        padding: 50px 0;
        @include flex;
        h4 {
          color: $text_white;
        }
      }
    }
  }